.NewProduct {
    display: flex;
    justify-content: center;
}

.NewProduct label{
    padding-right: 10px;
    text-align: right;
    width: 120px;

    
}

.NewProduct input {
    width: 400px;
    margin: 5px;
   
}

.NewProduct button {
    
    width: 160px;
    margin: 5px;

}
