.ProductGallery{
    height: 500px;
    margin-left:30px;
}

.ProductGallery img{
    width: 400px;
    height: auto;
    margin: 10px;
}


@media(max-width: 855px) {
    .ProductGallery{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .ProductGallery img{
       width: 400px;                      
    }
}

@media(max-width: 660px) {
    .ProductGallery{
        display: flex;
        justify-content: center;
    }

    .ProductGallery img{
        width: 400px;
       
    }
}