.Cart {
    display: flex;
    flex-direction: column;
}

.Cart__Header{
    display:flex;
    justify-content: center;
    padding: 30px;
}

.Cart__Header img {
    padding-top: 75px;
    padding-bottom: 50px;
    width: 142px;
}

.Cart__EmptyCart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 850px;
}

.Cart__Quantity_Price_Header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 850px;
    text-align: right;
    
}

.Cart__Quantity_Price_Header p{
    font-size: 16px;
    font-weight: 700;
}

.Cart__Items{
    display: flex;
    justify-content: center;
    width: 850px;
   
}

.Cart__Items img {
    margin: 20px;
    width: 157px;
    height: 157px;
}

.Cart_ItemList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Cart__Thumbnail_Info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.Cart__Quantity_Price {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.Cart__Quantity_Price col{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
.Cart__Price {
    display: flex;
    justify-content: flex-end
}

.Cart__Quantity{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 24px;

}

.Cart__Quantity input{
    width: 60px;
    text-align: center;
}

.Cart__Total {
    display: flex;
    justify-content: flex-end
}


.Cart__Update_Checkout{
    display: flex;
    justify-content: flex-end;
    width: 850px;
}

.Cart__Update_Checkout button{
    margin: 10px;
    width: 140px
}


.Cart__Subtotal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 5px 0px 0px;
    width: 850px;
}

.Cart__Subtotal p {
    font-size: 14px;
    font-weight: 700;
}

.Cart__Line hr{
    width: 850px;
}

hr {
    display: flex;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.Cart__PreviousPage {
    display: flex;
    text-align: center;
    padding-top: 20px;
    width: 100%;
}

.Cart__CheckoutButton {
    display: flex;
    justify-content: center;
    align-items: center;
}