.ProductSize {
    display:flex;
    flex-direction: column;
}

.ProductSize select{
    width: 100px;
    height: 25px;
    margin: 10px 0px 10px 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position: right center;
    background-image: url(//cdn.shopify.com/s/files/1/0818/5483/t/7/assets/ico-select.svg?1390977…);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-color: #fff;
    padding-right: 28px;
    text-indent: 8px;
    text-overflow: '';
    cursor: pointer;

}

.ProductSize ul{
    font-size: 12px;
    font-weight: 300px;
}

@media(max-width: 855px) {
    .ProductSize select{
        width: auto;
        height: 25px;
    }
}