body{
  font-size: 16px;

}

.App {
  text-align: center;
  font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.App .div{
  margin: 10px;
}

.Button {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

#Col {
  display: flex;
  justify-content: center;
  margin: 1.5rem;
}

.Content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.Test{
  display: flex;
  align-items: center;
}

.Alpha{
  display: grid;
  grid-template-columns: 75% 25%;
  background-color: pink;
}