.HomePage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 50px 0px 50px;
    max-width: 1030px;
    
}

.Cover {
    margin: 0px;
}

.Cover img {
    object-fit: contain;
    max-width: 1030px;
    
}

.Title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    width: 1030px;
}

.Title img {
    width: 142px;
    height: 50px;
    margin: 110px 0 80px;
}

.StoreDescription {
    display: flex;
    justify-content: flex-start;
}

.StoreDescription__Link {
    display: flex;
    flex-direction: column
}

.StoreDescription__Text {
    width: 45%;
    padding-right: 50px;
    margin: 0px;
    font-size: 13px;
}

.StoreDescription li {
   margin-bottom: 0.25em;
   font-size: 13px;
   font-weight: bold;
   clear: both;
   list-style: none;
}

.Footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}